<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Customer List</title>
</head>
<body>
<h1>List of customers</h1>
<br>
<form th:action = "@{'/home/customer'}" method = "get">
    <input name = "customerNameSearch" placeholder="Enter name customer">
    <select name = "customerTypeIdSearch">
        <option value="">--- Select type customer ---</option>
        <option th:each = "ctmt:${customerTypeList}" th:value = "${ctmt.id}" th:text="${ctmt.name}"></option>
    </select>
    <button type="submit">Search Customer</button>
</form>
<br>
<a th:href="@{/home/customer/create}">Add new customer</a>
<br>
<table class="table table-stript">
    <tr style="background: wheat">
        <th>STT</th>
        <th>Customer Type</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>ID Card</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    <tr th:each = "customer, status: ${customers}">
        <td th:text = "${status.index}"></td>
        <td th:text = "${customer.getCustomer_type().getName()}"></td>
        <td th:text = "${customer.getName()}"></td>
        <td th:text = "${customer.getBirthday()}"></td>
        <td th:text = "${customer.getGender()}"></td>
        <td th:text = "${customer.getCardId()}"></td>
        <td th:text = "${customer.getPhone()}"></td>
        <td th:text = "${customer.getEmail()}"></td>
        <td th:text = "${customer.getAddress()}"></td>
        <td>
            Edit | Delete
        </td>
    </tr>
</table>
<div>
    <a th:href = "@{'/home/customer'(page=${customers.number - 1}, name = ${customerNameSearch}, customer_type_id = ${customerTypeIdSearch})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text = "${customers.number + 1}"></span>/<span th:text = ${customers.totalPages}></span>
    <a th:href = "@{'/home/customer'(page=${customers.number + 1}, name = ${customerNameSearch}, customer_type_id = ${customerTypeIdSearch})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</html>