# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\CodeGymDN\Module 4\Module4\b03. Views_and_Thymeleaf\Quan_ly_Du_lieu_Khach_hang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
