# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\CodeGymDN\Module 4\Module4\b04.Data_Binding_Form\Ung_dung_Login\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
