# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\CodeGymDN\Module 4\Module4\b01.Tong_quan_Spring_Greeting\Ung_dung_tu_dien_don_gian\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
